<!-- {{b1 | date:'shortDate'}}
{{0.025 | percent}}
<p>{{7.124 | number:'3.5-6'}}</p>
<p>{{"priyanka gandham"|titlecase}}</p>
<p>{{"PRIYA" | lowercase}}</p>
<p>{{"priya" | uppercase}}</p>
<p>{{0.25 | currency: 'INR'}}</p> -->

<!-- <div *ngIf="students.length>0;">
    Classes will be continued
</div>
<div *ngIf="students.length==0">
    Classes will be cancelled
</div> -->

<!-- <div *ngIf="students.length>0; else nill">
    Classes will be continued
</div>
<ng-template #nill>
    Classes will be cancelled
</ng-template> -->
<!-- <div *ngIf="students.length>0; then ok ;else nill">
</div>
<ng-template #ok>
    Classes will be cancelled
</ng-template>
<ng-template #nill>
    Classes will be cancelled
</ng-template> -->
<!-- <div [hidden]="students.length==0">
    Classes will be continued
</div>
<div [hidden]="students.length>0">
    Classes will be cancelled
</div> -->
<!-- <div *ngFor="let s1 of students">
    {{students}}
   </div> -->
<img src="assets/image2.jpg" class="img-thumbnail" alt="" width="200px" height="200px">   
<img src="assets/img1.jfif"  class="img-thumbnail" alt="" width="200px" height="200px">
<img src="assets/img1.jpg"   class="img-thumbnail"alt="" width="200px" height="200px">